<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="la.kaelae.tvrecommendation"
  >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
  <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false"
    />
  <uses-feature
    android:name="android.software.leanback"
    android:required="true"
    />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Leanback"
    >
    <activity
      android:name=".MainActivity"
      android:banner="@drawable/app_icon_your_company"
      android:icon="@drawable/app_icon_your_company"
      android:label="@string/app_name"
      android:logo="@drawable/app_icon_your_company"
      android:screenOrientation="landscape"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
          android:host="*"
          android:scheme="${scheme}"
          />

      </intent-filter>
    </activity>
    <activity android:name=".DetailsActivity"/>
    <activity android:name=".PlaybackActivity"/>
    <activity android:name=".BrowseErrorActivity"/>

    <receiver android:name=".recommendation.RecommendationBroadcastReceiver">
      <intent-filter>
        <action android:name="android.media.tv.action.INITIALIZE_PROGRAMS"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".recommendation.ProgramRemovedReceiver">
      <intent-filter>
        <action android:name="android.media.tv.action.PREVIEW_PROGRAM_BROWSABLE_DISABLED"/>
      </intent-filter>
    </receiver>

    <service
      android:name=".recommendation.DefaultChannelRecommendationJobService"
      android:exported="false"
      android:permission="android.permission.BIND_JOB_SERVICE"
      />

  </application>

</manifest>